<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for signing up for Mundo_Disney_API!</h1>
    <p>Remember that to consume the services,
    you must authenticate with your address <stron><%= @user.email %></stron> 
    to obtain a JSON Web Token. The JWT will be valid for 24 hours..
    </p>
    <p>After 24 hours, you can re-authenticate to get a new JWT.
    </p>
  </body>
</html>